body {
    background-color: #5478BF;
    text-align: center;

}

.mainSection {
    width: 80%;
    margin: 30px auto;
    padding:  50px;
    background-color: #F2A0AF;
}

.doubleButton {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
input{
    border-radius: 10px;
    border: none;
    padding: 10px


}
.input-btn{
    color: white;
    background-color: #5478BF;
    width: 15%;
}

textarea {
    width: 40%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin: auto 30px;
}